{
    "openapi": "3.0.0",
    "info": {
        "title": "PRS API",
        "description": "API documentation for the PRS application.",
        "contact": {
            "email": "support@prs.com"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://logiprompt.com/atomed/public",
            "description": "API Server"
        }
    ],
    "paths": {
        "/api/login": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Authenticate user and get JWT token",
                "operationId": "1257f11ade1e6ee3a26cfe338badfb8e",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "password"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "superadmin@gmail.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "12345"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful login",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "access_token": {
                                            "type": "string"
                                        },
                                        "token_type": {
                                            "type": "string",
                                            "example": "bearer"
                                        },
                                        "expires_in": {
                                            "type": "integer",
                                            "example": 3600
                                        },
                                        "user": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid credentials"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                }
            }
        },
        "/api/profile": {
            "get": {
                "tags": [
                    "Auth"
                ],
                "summary": "Get authenticated user profile",
                "operationId": "1344face78c680406f11ca800b271f47",
                "responses": {
                    "200": {
                        "description": "User profile data"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/logout": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Logout user and invalidate token",
                "operationId": "d0090497298d35d96a9fcde3666ff010",
                "responses": {
                    "200": {
                        "description": "Successfully logged out"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/distributors/{distributorId}/products/{productId}/availability": {
            "get": {
                "tags": [
                    "Distributors"
                ],
                "summary": "Check product availability in a distributor",
                "operationId": "8174eb162b72d81bcea9c1af13e0e0d1",
                "parameters": [
                    {
                        "name": "distributorId",
                        "in": "path",
                        "description": "Distributor ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "productId",
                        "in": "path",
                        "description": "Product ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Product availability status",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "distributor_id": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "product_id": {
                                            "type": "integer",
                                            "example": 10
                                        },
                                        "available": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "stock": {
                                            "type": "integer",
                                            "example": 50
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Distributor or Product not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/products": {
            "get": {
                "tags": [
                    "Products"
                ],
                "summary": "Get all products",
                "operationId": "d97d1c3727cbac49708b85f7d11f7d58",
                "responses": {
                    "200": {
                        "description": "List of products",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "properties": {
                                            "id": {
                                                "type": "integer",
                                                "example": 1
                                            },
                                            "product_code": {
                                                "type": "string",
                                                "example": "P001"
                                            },
                                            "product_name": {
                                                "type": "string",
                                                "example": "Paracetamol 500mg"
                                            },
                                            "generic_name": {
                                                "type": "string",
                                                "example": "Paracetamol"
                                            },
                                            "strip_size": {
                                                "type": "integer",
                                                "example": 10
                                            },
                                            "box_size": {
                                                "type": "integer",
                                                "example": 10
                                            },
                                            "carton_size": {
                                                "type": "integer",
                                                "example": 100
                                            },
                                            "hsn_code": {
                                                "type": "string",
                                                "example": "3004"
                                            },
                                            "mrp": {
                                                "type": "string",
                                                "example": "20.00"
                                            },
                                            "ptr": {
                                                "type": "string",
                                                "example": "15.00"
                                            },
                                            "pts": {
                                                "type": "string",
                                                "example": "12.00"
                                            },
                                            "gst": {
                                                "type": "string",
                                                "example": "12.00"
                                            },
                                            "net_amount": {
                                                "type": "string",
                                                "example": "18.00"
                                            }
                                        },
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/retailer-orders": {
            "get": {
                "tags": [
                    "Retailer Orders"
                ],
                "summary": "Get all orders for the authenticated retailer",
                "operationId": "5075d7ee92fb32884388ffd987a770c5",
                "responses": {
                    "200": {
                        "description": "List of retailer orders",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "properties": {
                                            "id": {
                                                "type": "integer",
                                                "example": 1
                                            },
                                            "order_code": {
                                                "type": "string",
                                                "example": "RO-X9Y8Z7"
                                            },
                                            "total_amount": {
                                                "type": "string",
                                                "example": "1500.00"
                                            },
                                            "total_items": {
                                                "type": "integer",
                                                "example": 3
                                            },
                                            "total_quantity": {
                                                "type": "integer",
                                                "example": 12
                                            },
                                            "status": {
                                                "type": "string",
                                                "example": "pending"
                                            },
                                            "notes": {
                                                "type": "string",
                                                "example": "Urgent delivery"
                                            },
                                            "placed_at": {
                                                "type": "string",
                                                "format": "date-time",
                                                "example": "2023-10-25 10:00:00"
                                            }
                                        },
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Unauthorized - User is not a retailer"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/retailer-orders/{id}/products": {
            "get": {
                "tags": [
                    "Retailer Orders"
                ],
                "summary": "Get products in a retailer order",
                "operationId": "8f98ef572e41da1b9af0fa2d2fd61f5d",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Retailer Order ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "order_id": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "order_code": {
                                            "type": "string",
                                            "example": "RO-X9Y8Z7"
                                        },
                                        "products": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "product_id": {
                                                        "type": "integer",
                                                        "example": 10
                                                    },
                                                    "product_name": {
                                                        "type": "string",
                                                        "example": "Paracetamol 500mg"
                                                    },
                                                    "quantity": {
                                                        "type": "integer",
                                                        "example": 5
                                                    },
                                                    "unit_price": {
                                                        "type": "string",
                                                        "example": "10.00"
                                                    },
                                                    "total_amount": {
                                                        "type": "string",
                                                        "example": "50.00"
                                                    },
                                                    "product_details": {
                                                        "type": "object"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Order not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        }
    },
    "components": {
        "securitySchemes": {
            "bearerAuth": {
                "type": "http",
                "scheme": "bearer",
                "bearerFormat": "JWT"
            }
        }
    },
    "tags": [
        {
            "name": "Auth",
            "description": "Auth"
        },
        {
            "name": "Distributors",
            "description": "Distributors"
        },
        {
            "name": "Products",
            "description": "Products"
        },
        {
            "name": "Retailer Orders",
            "description": "Retailer Orders"
        }
    ],
    "security": [
        {
            "bearerAuth": []
        }
    ]
}